section.SubSectionsMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adButtons {
    border-style: none;
    background-color: #0e3c7e ;
    color: rgb(227, 233, 241);
    padding: 8px;
    border-radius: 6px;
    margin: 0 3px;
    height: 30px;
}

.adDesigner-headings {
    font-weight: bold;
}